<div class="button-container">
    <button (click)="previousPage()" class="rounded-button previous-button">Previous</button>
    <span>({{ offset + 1 }} al {{ offset + pokemonList.length }})</span>
    <button (click)="nextPage()" class="rounded-button next-button">Next</button>
  </div>

  <div class="pokemon-grid">
    <div *ngFor="let pokemon of pokemonList" class="pokemon-card">
      <div>{{ pokemon.name }}</div>
      <!-- Puedes agregar más información del Pokémon aquí -->
    </div>
  </div>