.footer {
    left: 0;
    bottom: 0%;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    background-color: #261e1b; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    padding: 2px 0 20px 0; /* Añade un espacio interno alrededor del texto */
    text-align: center;
  }
  
  .footer-text {
    font-size: 18px; /* Cambia el tamaño del texto */
    margin-bottom: 0; /* Elimina el margen inferior para un mejor alineamiento */
    align-self: center;
  }
  